@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(220, 220, 121);
  background-image: url("/output-onlinepngtools\ \(2\).png");
  background-size: 700px 700px;
  background-position: top;
  position: relative;
  font-family: "Viga", sans-serif;
  height: 150vh;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h2{
  font-size: 2em;
  font-family: "Viga", sans-serif;
  padding: 0.5rem;
  color: rgb(58, 41, 13);
  width: fit-content;
  background-color: rgb(220, 220, 121);
  
}


header img{
  width: 200px;
  height: auto;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: rgba(240, 248, 255, 0.348);
}

#game-container{
  background-color: rgba(240, 248, 255, 0.523);
  margin-left: 30%;
  margin-right: 30%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 25px;
position: relative;
box-shadow: 20px 20px 8px rgba(127, 129, 55, 0.3);
}

#players{
  list-style: none;
  display: flex;
  justify-content: space-between; /* Push items to start and end of container */
   /* Ensure no default margin interferes */
   margin: 0;
   padding: 0;
   flex-wrap: wrap;

}

#players input{
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.482);
  border-radius: 13px;
  border: none;
  color: white;
  max-width: 100%; /* Ensure the input doesn't overflow its container */
  width: 100px;
  
}

#players button{
  padding: 0.3rem;
  background-color: rgba(146, 117, 10, 0.814);
  border-radius: 13px;
  border: none;
  color: white;
  max-width: 100%; /* Ensure the input doesn't overflow its container */
  width: 70px;
  font-family: "Viga", sans-serif;

}

#players button:hover{
  background-color: rgba(146, 117, 10, 0.416);;
}

.playerSymbol{
  margin-left: 1rem;
}



.player{
  display: flex;
  gap: 1rem;
}


#players .active{
  border: 3px solid;
  border-color: rgb(121, 70, 2);
  /* transition: border-color 2s; */
  padding: 0.5rem;
}



ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

#gameBoard{
  display: flex;
  flex-wrap: wrap;
 justify-content: center;
  gap: 2rem;
  padding: 1rem;
  margin-top: 3em auto;
}
#gameBoard ol{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

}


#gameBoard button{
  display: flex;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border: none;
  background: #86750b;
  color: #3f3b00;
  font-size: 2rem;
  font-weight: 900;
  cursor: pointer;
  padding: 1rem;
}

#mainCon{
  display: flex;
  flex-direction: column;
}

#log{
  margin: 20px auto;
}

#log li{
  animation: slide-in-from-left 1s cubic-bezier(0.075, 0.92, 0.165, 1) none;
}


#gameoverCon{
  position: absolute;
  background-color: #291f0ef6;
  left: 0;
  top: 0;
  width: 110%;
  height: 150%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  border-radius: 25px;
 justify-content: center;
 animation: pop-up 1s cubic-bezier(0.68, -0.55, 0.265, 1.55)  forwards;
}

#gameoverCon button{
  outline: none;
  border: none;
  padding: 0.8rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 10px;
  margin-top: 2rem;
  font-size: 1.5em;
  background-color: rgb(231, 236, 153);
  font-weight: bolder;
  box-shadow: 4px 4px black;
  cursor: pointer;

}

#gameoverCon button:hover{
  background-color: rgba(246, 250, 186, 0.8);
}


#gameoverCon p{
  margin-top: 5rem;
  font-size: 2.5em;
  color: aliceblue;
  text-align: center;
}

#gameoverCon h2{
  font-size: 5em;
  color: #86750b;
}

@keyframes slide-in-from-left{
  0%{
    opacity : 0;
    transform: translateX(-30%)
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes pop-up {
  0%{
    opacity: 0;
    transform: scale(0);
  }

  80%{
    opacity: 1;
    transform: scale(1.1);
  }

  100%{
    opacity: 1;
    transform: scale(1);
  }
}